.Row {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
}

.Header {
  text-align: center; /* Center the header text */
}
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #ff9254;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }


.BookingTable {
  width: 100%;
  border-collapse: collapse;
}

.BookingTable th, .BookingTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.BookingTable th {
  background-color: #f2f2f2;
}

.Button {
  display: block; /* Make the button a block element */
  width: 100%; /* Make the button expand full width of the container */
  margin-top: 20px; /* Add some space on the top of the button */
}

/* Info text style */
.InfoText {
  font-size: 0.9em; /* Smaller font size for info text */
  margin-top: 5px; /* Space after the input */
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .Content {
    padding: 2rem; /* Smaller padding on small screens */
  }
}