.App{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #fbfbfb;
  min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

.Content {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 2px;
  border: 3px solid #000000;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(94, 119, 53);
  transition: color ease-in-out 0.3s;
}

a:hover{
  text-decoration: none;
  color: rgb(183, 136, 16);
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

i {
  color: rgba(175, 58, 221, 0.637);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  transition: color ease-in-out 0.3s;
  color: rgb(97, 16, 129);
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #f1f1f1;
}
*::-webkit-scrollbar-thumb {
  background: #888;
}
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}